<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">

	<insert id="insert" >
	
	<selectKey keyProperty="bno" resultType="java.lang.Long" order="AFTER" statementType="PREPARED">
       SELECT id_num.currval as bno FROM dual
    </selectKey>

	insert into comments (rno, bno, replyer, content)
	values (id_num.nextval, #{bno}, #{replyer}, #{content})

	</insert>

	<select id="read" resultType="org.zerock.domain.ReplyVO">

		select * from comments where rno = #{rno}

	</select>


	<delete id="delete">

		delete from comments where rno = #{rno}

	</delete>

	<update id="update">

		update comments set content = #{content}, updateDate = sysdate where rno = #{rno}

	</update>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
		<![CDATA[
 			select rno, bno, replyer, content, replyDate, updateDate
 		from (
   		 select /*+INDEX(comments id) */ 
      		rownum rno, bno, replyer, content, replyDate, updateDate
    from comments
    where rno =  #{rno}
    and id > 0
    and rownum <= #{cri.pageNum} * #{cri.amount} ) where rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>
	</select>


	<select id="getCountByRno" resultType="int">
		<![CDATA[
			select count(rno) from comments where rno = #{rno}
				]]>
	</select>


</mapper>
