<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">

	<insert id="insert">

		insert into comments (id, replyer, content)
		values (id_num.nextval, #{replyer}, #{content})

	</insert>

	<select id="read" resultType="org.zerock.domain.ReplyVO">

		select * from comments where id = #{id}

	</select>


	<delete id="delete">

		delete from comments where id = #{id}

	</delete>

	<update id="update">

		update comments set id = #{content}, updatedate = sysdate where id = #{id}

	</update>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
		<![CDATA[
 			select  id, rno, replyer, content, replyDate, updateDate
 		from (
   		 select /*+INDEX(comments id) */ 
      		rownum rn, id, rno, replyer, content, replyDate, updateDate
    from comments
    where id =  #{id}
    and id > 0
    and rownum <= #{cri.pageNum} * #{cri.amount} ) where rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>
	</select>


	<select id="getCountByid" resultType="int">
		<![CDATA[
			select count(id) from comments where id = #{id}
				]]>
	</select>
	
	


</mapper>
